input{
    display: flex;;
    padding-left: 10px;
    width: 50%;
    margin-left: auto;
    margin-right: 0;
    border-radius: 5px;
    background: url('img/1px.bmp') center center repeat;
    color: aliceblue;
    border: none;
    font-size: 16px;
}
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;

}
body{
    background-color: rgb(8, 156, 201);
}
form{
    width: 320px;
    height: 528px;
    position: relative;
    left: 50%;
    margin-left: -160px;
    margin-top: 10%;
}
button{
    text-align: left;
    width: 100%;
    color: rgb(201, 201, 17);
    background:rgb(8, 156, 201);
    border:none;
}
p{
    font-size: 16px;
}
div{
    display: flex;
    margin: 32px auto;
    flex-direction: row;
    border: 2px solid antiquewhite;
    padding: 24px;
    border-radius: 5px;
    color: antiquewhite;
}
